
#cont-form{
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
#cont-form form{
    width: 70%;
    margin: auto;
}
#input-form{
    color: #020238;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#input-form::-webkit-input-placeholder { 
    color: #020238; 
} 

#cont-mostrar{
    width: 31%;
    margin: auto;
}