
#cont-form{
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
#cont-form form{
    width: 70%;
    margin: auto;
}
#cont-form form input{
    color-adjust: rgb(2, 2, 46);
    text-align: center;
    width: 100%;
}

#cont-mostrar{
    width: 31%;
    margin: auto;
}