nav {
    background: linear-gradient(0deg , rgb(2, 2, 46), rgb(24, 41, 58) 10%, rgb(2, 2, 46)) !important;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url(https://image.freepik.com/vector-gratis/textura-fondo-minimalista-fisuras_23-2147486301.jpg);
}



